- if(@title.length > 30)
  - pos = @title.from(30).index(' ')
  - if(pos != nil && pos > 0)
    - @title = @title.to(pos+30) + ' ...'
.gallery
  = link_to image_tag("/#{@thumb}", :width => 120, :border => "0",) , {:controller => :books, :action => :show, :id => @vol[:job_id], :tab => "brief"}
  .title
    = link_to @title , {:controller => :books, :action => :show, :id => @vol[:job_id], :tab => "brief"}
  %h6
    = "#{I18n.t(:book_order)}: #{@ubh_vol.order}"