= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'

- if @collections
  - @collections.each_with_index do |item, index|
    - title = item.title.length > 15 ? item.title[0,14] + "..." : item.title
    :javascript
      $(document).ready(function(){
        $("#starsidelink_#{item.id}").jRating({
          isDisabled : true,
          bigStarsPath: "/images_#{I18n.locale}/#{I18n.t(:stars_white)}"
        });
      });
    - if(item.photo_name.blank?)
      - @thumb = "/images_#{I18n.locale}/#{I18n.t(:default_collection)}"
    - else
      - @thumb = item.photo_name_url(:thumb)
    .col-md-4
      %div{ id: "collection #{index + 1}", class: "media collection", name: "collection #{item.id}" }
        %a.pull-left{ href: "#{collection_path(:id=>item.id)}" }
          =image_tag("#{@thumb}", class: "media-object img-thumbnail")
        .media-body{ style: "float:right;" }
          %h4.media-heading
            = link_to title, { controller: 'collections', action: 'show', id: item.id }
            - collection_volumes = item.volume_collections
            %span.badge{ title: "#{I18n.t(:collections_books_number_tip)}", pointer: "cursor" }
              = "#{collection_volumes.count}"
          %i.fa.fa-user
          %small
            = link_to "#{I18n.t(:collection_by)} #{User.find(item.user_id).real_name}", { controller: 'users', action: 'show', id: item.user_id }
          %p
            %small
              =item.description    
          %i.fa.fa-calendar-o 
          = I18n.t(:collection_creation_date)
          %p
            %small
              =item.created_at
          .rate
            - if item.rate != 0.0
              .starsidelink{ id: "starsidelink_#{item.id}", data: "#{item.rate}" }