:javascript
  $(document).ready(function() {
    // reset the content
    document.getElementById("new_#{@dialog_number}").checked=false;
    document.getElementById("public_#{@dialog_number}").checked=false;
    document.getElementById("createnewcoll_#{@dialog_number}").style.display = 'none';
   });
.form
  %ul
    #addcoll{style: "display:block;", :id => "#{@dialog_number}"}
      - if @collections.count > 0
        %li
          = I18n.t(:choose_collection)
        %li
        %select{:id => "idselect_#{@dialog_number}"}
          - counter = 0
          - @collections.each do |collection|
            - if @disabled[counter] == 1
              %option{disabled: "disabled", :value => "#{collection.id}"} #{collection.title}
            - else
              %option{:value => "#{collection.id}"} #{collection.title}
            - counter = counter + 1
        %br
        %br
    %li
      %input{:type =>"checkbox", :id => "new_#{@dialog_number}", :checked => false, :value => 'off', 
      :onclick => "document.getElementById('error_#{@dialog_number}').style.display = 'none';document.getElementById('description_#{@dialog_number}').value = '';document.getElementById('collectiontitle_#{@dialog_number}').value = '';if(this.checked == true){this.value = 'on';document.getElementById('createnewcoll_#{@dialog_number}').style.display = 'block'; document.getElementById('addcoll_#{@dialog_number}').style.display = 'none';}else{this.value = 'off';document.getElementById('createnewcoll_#{@dialog_number}').style.display = 'none';document.getElementById('addcoll_#{@dialog_number}').style.display = 'block';}"} #{I18n.t(:create_new_collection)}
    #error{:id => "#{@dialog_number}", style: "display:none; color:red;"}
      = I18n.t(:missing_title_error_msg)
    #createnewcoll{style: "display:none;", :id => "#{@dialog_number}"}
      .requiredlabel
        = "#{I18n.t(:title)}"
     
      %input#collectiontitle{type: "text", :id => "#{@dialog_number}"} 
      %br
      = I18n.t(:description)
      %br
      %textarea#description{:id => "#{@dialog_number}"}
      %br
      %input#public{:id => "#{@dialog_number}", :checked => false, :type =>"checkbox", :value => 'off',
      :onclick => "if(this.checked == true){this.value = 'on';}else{this.value = 'off';}"} #{I18n.t(:public)}
   