:javascript
  function check_image_size() {
  var is_file_valid = true;
  if ($('#filefield')[0].files[0] != null){
    var ext = $('#filefield').val().split('.').pop().toLowerCase();
    var size = $('#filefield')[0].files[0].size;
    if($.inArray(ext, ['gif','png','jpg','jpeg', 'bmp']) == -1) {
      $('#photo_ext_error_message').removeClass("invisible_error_msg");
      $('#photo_ext_error_message').addClass("visible_error_msg");
      $('#photo_size_error_message').removeClass("visible_error_msg");
      $('#photo_size_error_message').addClass("invisible_error_msg");
      is_file_valid = false;
    }
    else{
      if (size > #{UPLOADED_PHOTO_MAX_SIZE * 1000 * 1000}){
        $('#photo_ext_error_message').removeClass("visible_error_msg");
        $('#photo_ext_error_message').addClass("invisible_error_msg");
        $('#photo_size_error_message').removeClass("invisible_error_msg");
        $('#photo_size_error_message').addClass("visible_error_msg");
        is_file_valid = false;
      }
    }
    }
    return is_file_valid;
  }
.row.clearfix
  .col-md-9.column.col-xs-offset-1
    %fieldset
      %legend
        = @page_title
      .form-horizontal
        = validation_errors_for(@collection)
        = form_for @collection, :builder => FormHelper::BHLFormBuilder ,:html => {:onsubmit => "return check_image_size();" } do |f|
          .form-group
            = f.label :title, raw(t('title')), :class => 'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :title, :class => 'form-control'
          .form-group
            = f.label :description, raw(t('description')), :class => 'col-sm-2 control-label'
            .col-sm-10
              = f.text_area :description, :class => 'form-control',:cols => "", :rows => ""
          .form-group
            %label{:class => 'col-sm-2 control-label'}
              = I18n.t(:upload_collection_photo)
            .col-sm-10
              .invisible_error_msg#photo_size_error_message
                = "#{I18n.t(:upload_photo_max_size_error)} #{UPLOADED_PHOTO_MAX_SIZE} #{I18n.t(:mb)}"
              .invisible_error_msg#photo_ext_error_message
                = "#{I18n.t(:upload_photo_ext_error)}"
              = f.file_field :photo_name, {:id => "filefield", :type => "file",:class => "btn btn-default"}
              %p.help-block #{I18n.t(:max_photo_size)} #{UPLOADED_PHOTO_MAX_SIZE} #{I18n.t(:mb)}
          .form-group
            .col-sm-offset-2.col-sm-10
              %div
                %span.checkbox.pull-left
                  %label
                    = f.check_box :is_public
                    = I18n.t(:public_collection)
                    %i.fa.fa-unlock
          .form-group
            .col-sm-2
            .col-sm-10
              = f.submit I18n.t('submit_buton'), :class => "btn btn-default"
              = f.submit I18n.t('clear_button'), :class => "btn btn-default", :type => "reset"

     