= javascript_include_tag 'collections.js'
:javascript  
  $(document).ready(function() {
    var cache;
    cache = {};
    return $("#search_coll_field").autocomplete({
      minLength: 2,
      source: function(request, response) {
        var term;
        term = request.term;
        if (term in cache) {
          response(cache[term]);
          return;
        }
        searchfield = $("#search_coll_field").val();
        return $.getJSON("/collectionautocomplete?term=" + term, request, function(data, status, xhr) {
          return response(data);3./rs
        });
      }
    });
  });
  
  
.row.clearfix
  .col-md-12.column
    .col-md-12
      %h2
        = I18n.t(:collection_title)
      .col-md-8
        =render partial: "collections/breadcrumb"
      .input-group.col-md-4.pull-right
        %input.form-control{ id: "search_coll_field", type: "text", onkeypress: "if(event.keyCode == 13){search_collection('search_coll_field', '#{I18n.t(:empty_search_query_warn)}');return false;}" }
        %span.input-group-btn
          %a.go.pull-left.rotate{ style: "cursor:pointer;" }
            %i.fa.fa-arrow-circle-right.fa-2x{ onclick: "search_collection('search_coll_field', '#{I18n.t(:empty_search_query_warn)}');" }
    .clearfix
    %hr      
  .row
    =render partial: "collections/listresult"
    
  %div
    .pagination-centered
      = will_paginate @collections, :previous_label => I18n.t(:previous_label), :next_label => I18n.t(:next_label)
