= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'

:javascript

  $(document).ready(function(){
    $("#starsidelink_#{@collection.id}").jRating({
      isDisabled : true
    });
  });
  
  function get_photo(is_delete){
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
      // code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        document.getElementById("photo").innerHTML=xmlhttp.responseText;
      }
    }  
    xmlhttp.open("GET","/get_collection_photo?id=#{params[:id]}&is_delete="+ is_delete,true);
    xmlhttp.send();
  }
    get_photo(0)

.row.clearfix
  .col-md-12.column
    %h2
      = @collection.title
      %span.badge
        = "#{@total_number}"
      - if @collection.rate != 0.0
        %span.rate
          .starsidelink{:id => "starsidelink_#{@collection.id}", :data => "#{@collection.rate}"}
    %blockquote
      #photo
      %p
        = @collection.description
      %small
        %i.fa.fa-user      
        = link_to :controller => :users, :action => :show, :id => @collection.user_id do
          = User.find(@collection.user_id).real_name
        = " - "
        
        = link_to :controller => :collections, :action => :edit, :id => @collection.id do
          %i.fa.fa-edit
          = I18n.t(:edit_collection)
        %br
        %i.fa.fa-calendar-o
        = @collection.created_at
        %br
        
        .center-block
          - if logged_in?
            %span.text-muted
              = I18n.t(:collection_your_rate)
          .usercollectionrate
            = render :partial => "collections/rating"
    .clearfix
    %hr    
.row.clearfix
  .col-md-8.column.browse
    =render :partial => "collections/collectionbooks"
    - if(!((@page == @lastPage && @lastPage == 1) || @lastPage == 0))
      - @pages = adjustPaging(@page, @lastPage)
      = render :partial => "books/paging"
  .col-xs-6.col-sm-4.sidebar-offcanvas
    .spacing-left.panel.panel-styled
      =render :partial => "collections/collectionreviews"
