:javascript  
  function confirmDelete(){
  var r= confirm("#{I18n.t(:delete_comment_confirm)}");
    return r;
  }
  

- @owner_of_comment = User.find(comment.user_id)
- if(!(@owner_of_comment.nil?) && (@owner_of_comment.photo_name.blank?))
  - @thumb = "/images_#{I18n.locale}/defaultUser.jpeg"
- else
  - @thumb = @owner_of_comment.photo_name_url(:thumb)
  

.thumb
  = link_to image_tag("#{@thumb}" , :width => 70, :border => 0) , 
    {:controller => :users, :action => :show, :id => @owner_of_comment.id}
.newscontent
  .sidelinks
    = link_to image_tag("/images_#{I18n.locale}/close.png", :alt => I18n.t(:mark), :title => I18n.t(:mark)) , 
    {:controller => :comments, :action => :mark, :id => comment.id}
    - if (@owner_of_comment.id == session[:user_id])
      = link_to image_tag("/images_#{I18n.locale}/close.png", :alt => I18n.t(:delete), :title => I18n.t(:delete)) , 
    {:controller => :comments, :action => :delete, :id => comment.id}, :onclick => "return confirmDelete()"
  .text
    %h3
      = link_to @owner_of_comment.real_name.html_safe , 
      {:controller => :users, :action => :show, :id => @owner_of_comment.id}
    %h4
      = comment.text
    %h6
      = comment.updated_at
.clear