= render :partial => "comments/new_comment"
- @comments_replies_list.each do |comment|
  %span{:id => "abuse#{comment.id}" , :class => get_class_for_abuse(comment.number_of_marks) }
    %p
      = I18n.t(:hidden_comment_msg)
      = link_to_function "show", "$('#comment#{comment.id}').toggle(), $('#abuse#{comment.id}').toggle()"
  - if comment.comment_id #reply
    .reply
      = render :partial => "comments/comment", :locals => {:comment => comment}
  - else # comment
    %span{:id => "comment#{comment.id}", :class => get_class_for_comment(comment.number_of_marks)}
      .comment
        = render :partial => "comments/comment", :locals => {:comment => comment}
