.spacing-left.panel.panel-styled
  .panel-heading
    %h3.panel-title
      = @name
  .panel-body
    %center
      = link_to I18n.t(:species_details), "#{I18n.t(:eol_pages_link)}#{@taxon_concept_id}", :target => "_blank"
      %br
      - if @image
        = image_tag @image, :width => 200
        %br
      %br      
      = link_to I18n.t(:name_found_in_books, :count => @books_count), books_path(:params => addFacetSearch({}, 'name', @name))
