.col-md-2.column.pull-right
  - if(@user.photo_name.blank?)
    - thumb = "/images_#{I18n.locale}/user.png"
    = image_tag("#{thumb}",:class => "img-thumbnail")
  - else
    - thumb = @user.photo_name_url(:thumb)
    = image_tag("#{thumb}",:class => "img-thumbnail")
    = check_box_tag("delete_photo","delete_photo",false, :onclick => "confirmDelete()")
    = I18n.t(:delete_photo)