.col-md-8.column
  %h4
    = I18n.t(:user_profile_title)
    %small
      - if session["user_id"] == @user.id
        = link_to :controller => :users, :action => :edit, :id => @user.id do
          %i.fa.fa-edit
          = I18n.t(:edit_collection)
%blockquote
  .col-md-2.column.pull-right
    - if(@user.photo_name.blank?)
      - @thumb = "images_#{I18n.locale}/nocollection140.png"
    - else
      - @thumb = @user.photo_name_url(:thumb)
    = image_tag("/#{@thumb}",:class => "img-thumbnail")
%fieldset
  .form-horizontal    
    .form-group
      %label.col-sm-2.control-label
        = I18n.t(:real_name)
      .col-sm-10  
        = @user.real_name
    .form-group  
      %label.col-sm-2.control-label
        = I18n.t(:username)
      .col-sm-10  
        = @user.username
    .form-group
      %label.col-sm-2.control-label
        = I18n.t(:member_since)
      .col-sm-10
        = @user.created_at.to_s
    .form-group
      %label.col-sm-2.control-label
        = I18n.t(:last_login)
      .col-sm-10
        = @user.last_login.to_s