.r_column
  - if @recently_viewed_volume
    .box_1
      .profilebookimage{:align => "center"}
        - @title = Book.find_by_id(@recently_viewed_volume.book_id).title
        - @thumb = "volumes/#{@recently_viewed_volume[:job_id]}/thumb.jpg"
        = link_to @title.html_safe , 
          {:controller => :books, :action => :show, :id => @recently_viewed_volume[:job_id], :tab => "#{I18n.t(:brief_tab)}"}
        = link_to image_tag("/#{@thumb}", :alt => "#{@title}", :title => "#{@title}") , 
          {:controller => :books, :action => :show, :id => @recently_viewed_volume[:job_id], :tab => "#{I18n.t(:read)}"}
      .bookimage{:align => "center"}  
        =link_to I18n.t(:recently_viewed), {:controller => :users, :action => :show, :tab => "#{I18n.t(:recently_viewed_tab)}"}
.page
  .page_border
    .tabcontent
    %ul.tabs
      - @tabs.each do |tab, value|
        - if tab.to_s == @current
          %li.current
            = link_to value, {:tab => tab}
        - else
          %li
            = link_to value, {:tab => tab}
