- if (@ubh != '' && @total_number > 0)
  %h4.text-muted
    = "Found #{pluralize(@total_number, "Book")} "
  - @ubh.each do |ubh_vol|
    - @ubh_vol = ubh_vol
    - @vol = Volume.find_by_id(@ubh_vol.volume)
    - @id = @vol.job_id
    - @doc = solr_search("vol_jobid:#{@vol.job_id}", "bok_title, author, name, subject, bok_start_date, published_at, bok_language")
    - if (@vol != nil)
      - @title = @doc['bok_title'][0]
      - thumb = ''
      - if(@vol[:get_thumbnail_fail] == 0)
        - @thumb = "volumes/#{@vol[:job_id]}/thumb.jpg"
      - else
        - @thumb = "images_#{I18n.locale}/book_thumb.png"
    = render :partial => "users/listresult"
  - if(!((@page == @lastPage && @lastPage == 1) || @lastPage == 0))
    .col-md-8
      .pagination-centered
        - @pages = adjustPaging(@page, @lastPage)
        = render :partial => "books/paging"
- else
  .well-sm.center-block
    %h2
      =I18n.t(:no_books_found)
