.page
  .page_border
    .thumb
      - if(@user.photo_name.blank?)
        - @thumb = "/images_#{I18n.locale}/defaultUser.jpeg"
      - else
        - @thumb = @user.photo_name_url(:thumb)
      = image_tag("#{@thumb}", :width => 150,:border => 0)
    %b
      = I18n.t(:real_name)
    %br
    = best_in_place_if @can_edit, @user, :real_name, :type => :input
    %br
    %br
    %b
      = I18n.t(:member_since)
    %br
    = @user.created_at.to_s
    %br
    %br
    %b
      = I18n.t(:last_login)
    %br
    = @user.last_login.to_s
    %br
    %br
    - if session["user_id"] == @user.id
      = link_to I18n.t(:modify_profile), :controller => :users ,:action => :edit, :id => @user.id
