.form
  = form_for :user, :url => users_recover_password_path, :builder => FormHelper::BHLFormBuilder do |f|
    = I18n.t :forget_password_message
    %ul
      %li
        = f.label :email
      %li
        = f.text_field :email
    %fieldset
      = f.submit I18n.t('submit_buton'), :class => "btn"
      = f.submit I18n.t('clear_button'), :class => "btn", :type => "reset"