- content_for :head do
  = javascript_include_tag "forgot_password"

.col-md-8.column
  %div
    %fieldset
      %legend
        = I18n.t(:forget_password_message)
      .form-horizontal
        = form_for :user, url: users_recover_password_path, builder: FormHelper::BHLFormBuilder, html: { onsubmit: "return check_forgot_password_paramters();" } do |f|
          .form-group
            = f.label I18n.t(:email), class: 'col-sm-2 control-label'
            .col-sm-10
              .invisible_error_msg#email_error
                = "#{I18n.t(:empty_email_error)}"
            .col-sm-10
              = f.text_field :email, { class: "required form-control" }
          .form-group
            = f.label :recaptcha, raw(t('recaptcha')), class: 'required col-sm-2 control-label'
            .col-sm-10
              .invisible_error_msg#captcha_error
                = "#{I18n.t(:empty_verfication_error)}"
            .col-sm-10
              = recaptcha_tags(display: {theme: 'clean'})
          .form-group
            .col-sm-2
            .col-sm-10
              = f.submit I18n.t('send'), class: "btn btn-primary"
              = f.submit I18n.t('clear_button'), type: "reset", class: "btn btn-default"
