.form
  = form_for :user, :url => users_reset_password_action_path, :builder => FormHelper::BHLFormBuilder do |f|
    = f.hidden_field :guid, :value => params[:guid]
    = f.hidden_field :activation_code, :value => params[:activation_code]
    = validation_errors_for(@user)
    %ul
      %li
        = f.label :password, :class => 'required'
      %li
        = f.password_field :password, :maxlength => 16
      %li
        = f.label :confirm_password, raw(t('confirm_password')), :class => 'required'
      %li
        = f.password_field :password_confirmation, { :maxlength => 32 }
    %fieldset
      = f.submit I18n.t('submit_buton'), :class => "btn"
      = f.submit I18n.t('clear_button'), :class => "btn", :type => "reset"