:javascript
  function confirmDelete(text){
    var r = confirm(text);
    return r;
  }
  $(document).ready(function() {
    gettabclass();
  });
  function gettabclass(){
    document.getElementById("tab_#{@tab}").className = 'active';
  }
.row.clearfix
  .col-md-12.column
    %h2
      = @page_title
    %hr
.row.clearfix  
  .col-md-3
    %ul.nav.nav-pills.nav-stacked
      %li
        %a#tab_profile{:href => "/users/#{@user.id}/profile"}
          = I18n.t(:user_profile_tab)    
      - if !session[:user_id].nil? && params[:id].to_i == session[:user_id]
        %li
          %a#tab_annotations{:href=>"/users/#{@user.id}/annotations"}
            = I18n.t(:user_annotations_tab)
        %li
          %a#tab_queries{:href=>"/users/#{@user.id}/queries"}
            = I18n.t(:user_queries_tab)
        %li
          %a#tab_history{:href=>"/users/#{@user.id}/history"}
            = I18n.t(:user_history_tab)
        %li
          %a#tab_activity{:href=>"/users/#{@user.id}/activity"}
            = I18n.t(:user_activity_tab)
      %li
        %a#tab_collections{:href=>"/users/#{@user.id}/collections"}
          = I18n.t(:user_collections_tab)          
  
  =render :partial => "users/#{@tab}"