= javascript_include_tag 'application'
= javascript_include_tag 'jquery/jquery.tooltipster.min'
= render :partial => "users/tabs"
%br
- if @current == 'recently_viewed'
  = render :partial => "users/user_history"
- elsif @current == 'profile'
  = render :partial => "users/user_profile"
- elsif @current == 'annotations'
  = render :partial => "users/annotations"
- elsif @current == 'saved_queries'
  = render :partial => "users/saved_queries"
  - elsif @current == 'collections'
  = render :partial => "users/collections"
  - elsif @current == 'user_activities'
  = render :partial => "users/user_activities"
