= render :partial => "users/tabs"
%br
- if @current == 'general'
  = render :partial => "users/general"
- elsif @current == 'annotations'
  = render :partial => "users/annotations"
- elsif @current == 'saved_queries'
  = render :partial => "users/saved_queries"
- else
  = render :partial => "users/recently_viewed"

