- @log_records.each do |log|
  - @owner_of_activity = User.find(log[:user])
  - if(!(@owner_of_activity.nil?) && (@owner_of_activity.photo_name.blank?))
    - @thumb = "/images_#{I18n.locale}/#{I18n.t(:default_user_small)}"
  - else
    - @thumb = @owner_of_activity.photo_name_url(:thumb)
    
  .media
    = link_to image_tag("#{@thumb}", :class => "media-object img-circle"), 
      {:controller => :users, :action => :show, :id => @owner_of_activity.id}, 
      :class => "pull-left"
    .media-body.activity-log
      %p{:style => "line-height:120%;font-size:12px;"}
        %strong
          %a.book_author{:href=> "/users/#{@owner_of_activity.id}/profile"} 
            = @owner_of_activity.real_name.html_safe
        = log[:action].html_safe
        %a.book_title{:href=> log[:object_link]} 
          = log[:object_name].html_safe
        %p
          = log[:text].html_safe
        %br
        %small.text-muted
          = "#{I18n.t(:log_activity_at)} #{log[:time]}"
  %hr{ :style => "margin-top: 0px; margin-bottom: 0px;"}

- if @pages == 0
  = I18n.t(:no_activities)
- else
  %center
    %ul.pager
      %li
        - if @start.to_i > 1
          %a.rotate{:onmouseover => "", :style => "cursor: pointer;", :onclick => "moveItems(0, \"homeactivitylog\");"}
            %i.fa.fa-arrow-left
        - else
          %a.rotate{:style => "cursor: not-allowed; color: #999999;"}
            %i.fa.fa-arrow-left
      %li
        - if (@pages.to_i != @start.to_i)
          %a.rotate{:onmouseover => "", :style => "cursor: pointer;", :onclick => "moveItems(1, \"homeactivitylog\");"}
            %i.fa.fa-arrow-right
        - else
          %a.rotate{:style => "cursor: not-allowed; color: #999999;"}
            %i.fa.fa-arrow-right
