:javascript
  $(document).ready(function(){
    $("#starsidelink_#{page}_#{@vol[:job_id]}").jRating({
      isDisabled : true,
      bigStarsPath: "/images_#{I18n.locale}/#{I18n.t(:stars_grey)}"
    });
  });
  
%ul.fa-ul.tools
  %li
    %i.fa.fa-li.fa-book
    %small
      = link_to "#{I18n.t(:sidelinks_read)}", {:controller => :books, :action => :show, :id => @vol[:job_id], :tab => :read}
  %li
    %i.fa.fa-li.fa-info
    %small
      = link_to "#{I18n.t(:sidelinks_detail)}", {:controller => :books, :action => :show, :id => @vol[:job_id]}

  - if logged_in?
    %li
      %i.fa.fa-li.fa-plus-square
      %small
        %a{:href => "#", :id => "opener_#{@number}"}
          =I18n.t(:sidelinks_add_collection)
        - @addbookvol = @vol[:job_id]  
        =render :partial => "books/add_book"
.rate
  - if @doc['rate'] != 0.0
    .starsidelink{:id => "starsidelink_#{page}_#{@vol[:job_id]}", :data => "#{@doc['rate']}"}
  %span.text-muted.pull-right
    %small
      ="#{I18n.t(:sidelinks_views, :count => @doc[:views])} "
%div