- if (@top_rated_response != '' && @top_rated_response['response']['numFound'] > 0)
  - @number = 0
  - @top_rated_response['response']['docs'].each do |doc|
    - @number = @number + 1
    - @id = doc['vol_jobid']
    - @vol = Volume.find_by_job_id(doc['vol_jobid'])
    - if (@vol != nil)
      - @highlight = @top_rated_response['highlighting'][@id.to_s]
      - @title = (@highlight != nil && @highlight['bok_title'] != nil) ? @highlight['bok_title'][0] : doc['bok_title'][0]
      - thumb = ''
      - if(@vol[:get_thumbnail_fail] == 0)
        - @thumb = "volumes/#{@vol[:job_id]}/thumb.jpg"
      - else
        - @thumb = "images_#{I18n.locale}/book_thumb.png"
      - @doc = doc
 
    .col-md-2
      = link_to :controller => :books, :action => :show, :id => @vol.job_id do
        %img.img-thumbnail{:src => @thumb}
    .col-md-6
      %h4
        = link_to @title, {:controller => :books, :action => :show, :id => @vol.job_id}
      %p.small
        - if(@doc['author'] != nil)
          = render :partial => "books/bookauthors"
        - if(@doc['subject'] != nil)
          = render :partial => "books/booksubjects"
        - if(@doc['name'] != nil)
          - @names = fillResponseArrays(@doc, @highlight, 'name', @id)
          = render :partial => "books/booknames"
    .col-md-3.controls
      =render :partial => "books/sidelinks"
    .clearfix 
    %hr
  .pull-right
    = link_to "#{I18n.t(:tabs_more)}", {:controller => :books, :action => :index, :sort_type => "rate desc"}
