.form
  = form_for @email_message, url:"/pages/send_message" , :builder => FormHelper::BHLFormBuilder do |f|
    = validation_errors_for(@email_message)
    %ul
      %li
        = f.label :name, raw(t('sender')), :class => 'required'
      %li
        = f.text_field :name, { :maxlength => 32 }
      %li
        = f.label :email, raw(t('email')), :class => 'required'
      %li
        = f.text_field :email, { :maxlength => 32 }
      %li
        = f.label :subject, raw(t('message_subject')), :class => 'required'
      %li
        = f.text_field :subject, { :maxlength => 32 }
      %li
        = f.label :message, raw(t('text')), :class => 'required'
      %li
        = f.text_area :message , :rows => 6
      - if @verify_captcha
        %li
          = f.label :recaptcha, raw(t('recaptcha')), :class => 'required'
        %li
          = recaptcha_tags(display: {theme: 'clean'})
        %fieldset
      = f.submit I18n.t('submit_buton'), :class => "btn"
      = f.submit I18n.t('clear_button'), :class => "btn", :type => "reset"