= javascript_include_tag 'application'
= javascript_include_tag 'jquery/jquery.tooltipster.min'
= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'

.row.clearfix.home
  .col-md-3
    = render :partial => "pages/info"
  .col-md-9.column
    %div
      = render :partial => "pages/top_collections"
  .clearfix
  %hr
  .row.clearfix
    .col-md-4.column.pull-right
      = render :partial => "pages/activity_log"
    %div.col-md-8.tabs
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#mostviewd", "data-toggle" => "tab", :style => "padding: 0px 15px 10px 15px;"}
            %h4
              = I18n.t(:most_viewed)
        %li
          %a{:href => "#toprated", "data-toggle" => "tab", :style => "padding: 0px 15px 10px 15px;"}
            %h4
              = I18n.t(:top_rated)
      .tab-content
        .tab-pane.active#mostviewd
          = render :partial => "pages/most_viewed_books"
        .tab-pane#toprated
          = render :partial => "pages/top_rated_books"

