= javascript_include_tag 'application'
= javascript_include_tag 'jquery/jquery.tooltipster.min'
= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'

.row.clearfix.home
  .col-md-3
    = render :partial => "pages/info"
  .col-md-9.column
    %div
      = render :partial => "pages/top_collections"
  .clearfix
  %hr
  .row.clearfix
    .col-md-4.column.pull-right
      = render :partial => "pages/activity_log"
    .col-md-8
      = render :partial => "pages/most_viewed_books"
  .row.clearfix
    .col-md-8
      = render :partial => "pages/top_rated_books"

