%script{:type => "text/javascript", :src  => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
:javascript
  $(document).ready(function() {
     $( "#confirmation_#{@number}" ).dialog({
        open: function(event, ui){ 
            $(this).removeClass("ui-dialog");
            $(this).parent().children().children('.ui-dialog-titlebar-close').addClass("small");
            $(this).parents(".ui-dialog:first").find(".ui-widget-header")
                   .removeClass("ui-widget-header").addClass("dialogtitle");
        },
        dialogClass:"dialogclass",
        width: 400,
        position: ['top', 100], 
        autoOpen: false, 
        modal: true, 
        title: "#{I18n.t(:successfully_added)}",
        buttons: {"#{I18n.t(:ok)}": 
                   {
                     text: "#{I18n.t(:ok)}",
                     click: function()
                     {
                       $(this).dialog("close");
                     }
                    }
        }
     });
     
    $( "#dialog_#{@number}" ).dialog({
      open: function(event, ui){ 
            $(this).removeClass("ui-dialog");
            $(this).parent().children().children('.ui-dialog-titlebar-close').addClass("small");
            $(this).parents(".ui-dialog:first").find(".ui-widget-header")
                   .removeClass("ui-widget-header").addClass("dialogtitle");
      },
      dialogClass:"dialogclass",
      width: 400,
      position: ['top', 100], 
      autoOpen: false, 
      modal: true, 
      title: "#{I18n.t(:add_book_dialog_title)}",
      buttons: { 
        "#{I18n.t(:save)}": {
                        text: "#{I18n.t(:save)}",
                        click: function() {
                              var col_id = $("#idselect_#{@number}").val(), 
                              title = $("#collectiontitle_#{@number}").val(),
                              description = $("#description_#{@number}").val(),
                              public = $("#public_#{@number}").val(),
                              new_col = $("#new_#{@number}").val();
                              if(new_col == 'off'){
                                $.ajax({type: "GET", 
                                       url: "/add_book?col_id=" + col_id +"&vol_id=" + "#{@addbookvol}", 
                                       dataType: "script",
                                       success: function(data){
                                           $( "#confirmation_#{@number}" ).dialog( "open" );
                                       }
                                       });
                                $(this).dialog("close");
                              }else{
                                if(title.trim().length == 0){
                                  $("#error_#{@number}").show();
                                }else{
                                   $.ajax({type: "GET", 
                                       url: "/add_book?title=" + escape(title) + "&description=" + escape(description) + "&is_public=" + escape(public) + "&vol_id=" + "#{@addbookvol}", 
                                       dataType: "script",
                                        success: function(data){
                                           $( "#confirmation_#{@number}" ).dialog( "open" );
                                       }
                                       }) ;
                                   $(this).dialog("close");
                                   $("#error_#{@number}").hide();
                                }
                              }
                             }}, 
        "#{I18n.t(:cancel)}": function() {$(this).dialog("close");$("#error_#{@number}").hide();}
      } 
    });
    $('#{I18n.t(:save)}').removeClass('ui-state-hover');
    $( "#opener_#{@number}" ).click(function() {
      var buttons = $('.ui-dialog-buttonset').children('button');
      buttons.removeClass("ui-state-hover").removeClass("ui-satate-focus").
      removeClass("ui-button").removeClass("ui-widget").removeClass("ui-state-default").
      addClass("dialogbutton");
      $('.ui-dialog-buttonpane').children('button').removeClass();
        
      if(document.getElementById("new_#{@number}") != null){
        document.getElementById("new_#{@number}").checked = false;
      }
      if(document.getElementById("public_#{@number}") != null){
        document.getElementById("public_#{@number}").checked = false;
      }
      var xmlhttp;
      if (window.XMLHttpRequest){ 
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      }
      else{
        // code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function(){
        if (xmlhttp.readyState==4 && xmlhttp.status==200){
          document.getElementById("dialog_#{@number}").innerHTML=xmlhttp.responseText;
        }
      }
      xmlhttp.open("GET","/dialog_content?vol_jobid=#{@addbookvol}&number=#{@number}",true);
      xmlhttp.send();
      
      $( "#dialog_#{@number}" ).dialog( "open" );
       
    });
  });    
-# TODO style fixing 
#dialog{ :style => "display: none;",  id: "#{@number}" }
#confirmation{:id => "#{@number}", :style => "display: none;"}
  %h4
    ="#{I18n.t(:book_added_to_collection)}"
-# TODO style fixing 
#button
  - if @place == "details" || @place == "read"
    %input{type: "button", class:"addbookdetails", id: "opener_#{@number}", value: "#{I18n.t(:add_to_collection)}"}
  - elsif @place == "list"
    %input{type: "image", alt: "#{I18n.t(:add_to_collection)}", title: "#{I18n.t(:add_to_collection)}", src: "/images_#{I18n.locale}/add.png", class: "addbooklist", id: "opener_#{@number}", value: "#{I18n.t(:add_to_collection)}"}
