:javascript  
  $(document).ready(function() {
      $('.tooltipname').tooltipster({ interactive: true, fixedWidth: 280});
  });

%i
  %b
    =I18n.t(:listresult_names)
- @names.each do |name|
  - if name.kind_of?(Array)
    - @names.delete(name)
    - @names << name[0]
- names_from_db = Name.find_by_sql("select * from names where string in  (#{@names.map{|l| "'" + l + "'"}.join(", ")})")
- @names.each_with_index do |curname, index|
  - #sometimes names are saved in array or arrays in case their is only one name in array
  -#- if curname.kind_of?(Array)
    - onename = curname[0]
  -#- else
    - onename = curname
  /- onename = curname	
  /- name = Name.find_by_string(curname.gsub(HLPRE, '').gsub(HLPOST, '')))
  - name = names_from_db.find{ |item| item.string == curname.gsub(HLPRE, '').gsub(HLPOST, '') }  
  -if (name != nil)
    %a.tooltipname{:title =>name_tip(@id, name.id, name.string, name.eol_thumb, name.eol_page_id), :href => "#"}
      = curname.html_safe
      /= item_count_format_highlight('name', name.string, onename)    
    -if index != @names.length - 1
      %b
        =I18n.t(:separator)
%span
  = book_names_more_open_div(@id)
  
.modal.fade{:id=>"morenamesdiv_#{@id}", :tabindex => "-1", :role => "dialog", "area-labelledby" => "morenamesmodallabel", "area-hidden" => "true"}
  - list_names = book_names_list_names(@id)
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>"button", "data-dismiss" => "modal", "area-hidden" => "true"}
          &times;
        %h4.modal-title{:id => "morenamesmodallabel"}
          =I18n.t(:listresult_names)
          %span.badge
            = list_names.count           
      .modal-body
        - book_names_list_names(@id).each do |item|
          .text-dimmed
            = item.string
            %br
