:javascript  
  $(document).ready(function() {
      $('.tooltipname').tooltipster({ interactive: true, fixedWidth: 280});
  });

%i
  %b
    =I18n.t(:listresult_names)
- count = 0
- @names.each do |curname|
  - name = Name.find_by_string(curname.gsub(HLPRE, '').gsub(HLPOST, ''))
  -if (name != nil)
    -#NEW_LAYUOT change name from tooltip to tooltipname to avoid conflict with tooltip class in bootstrap file
    %a.tooltipname{:title =>name_tip(@id, name.id, name.string, name.eol_thumb, name.eol_page_id), :href => "#"}
      = item_count_format_highlight('name', name.string, curname)
    - count = count + 1
    -if count != @names.length
      %b
        =I18n.t(:separator)
%span
  = book_names_more_open_div(@id)
  
.modal.fade{:id=>"morenamesdiv_#{@id}", :tabindex => "-1", :role => "dialog", "area-labelledby" => "morenamesmodallabel", "area-hidden" => "true"}
  - list_names = book_names_list_names(@id)
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>"button", "data-dismiss" => "modal", "area-hidden" => "true"}
          &times;
        %h4.modal-title{:id => "morenamesmodallabel"}
          =I18n.t(:listresult_names)
          %span.badge
            = list_names.count           
      .modal-body
        - book_names_list_names(@id).each do |item|
          .text-dimmed
            = item.string
            %br