- if (@total_array != nil && @total_array.count > 0)
  .col-md-4
    %h4 
      = @carouseltitle
    %ul.list-group
      - @total_array.each do |item|
        %li.list-group-item
          =link_to item[:title], {:controller => "#{@controller}", :action => "#{@action}", :id => item[:id]}
      %ul.pager
        %li
          - if @start.to_i > 0
            %a{:onmouseover => "", :style => "cursor: pointer;", :onclick => "moveItems(0, \"#{@divname}\");"}
              %i.fa.fa-arrow-left
          - else
            %a{:style => "cursor: not-allowed; color: #999999;"}
              %i.fa.fa-arrow-left
        %li
          - if (@pages.to_i-1 != @start.to_i)
            %a{:onmouseover => "", :style => "cursor: pointer;", :onclick => "moveItems(1, \"#{@divname}\");"}
              %i.fa.fa-arrow-right
          - else
            %a{:style => "cursor: not-allowed; color: #999999;"}
              %i.fa.fa-arrow-right