- if (@covertitle.length > 40)
  - @covertitle = "#{@covertitle[0,40].html_safe}..."
- else
  - @covertitle = @covertitle.html_safe

= stylesheet_link_tag '3dcovers/component'
= javascript_include_tag '3dcovers/modernizr.custom.js'
= javascript_include_tag '3dcovers/book.js'

.col-xs-2.column
  .bookshelf
    %ul.bk-list.clearfix#bk-list
      %li
        .bk-book.bk-bookdefault{:class => "book-#{@coverno}"}
          .bk-front
            .bk-cover
              %h2
                %span
                %span
                  = @covertitle    
            .bk-cover-back
          .bk-right
          .bk-left
            %h4
              %span
                = @coverauthor