%div{:id => "book #{@number}", :class => "col-md-8 column browse", :name => "book #{@vol.job_id}"}
  .row.clearfix
    .col-xs-2.column  
      .bookshelf
        %ul.bk-list.clearfix#bk-list
          %li
            .bk-book.bk-bookdefault{:class => "book-#{@number}"}
              .bk-front
                .bk-cover
                  %h2
                    %span
                    %span
                      - if (@title.length > 40)
                        = "#{@title[0,40].html_safe}..."
                      - else
                        = @title.html_safe      
                .bk-cover-back
              .bk-right
              .bk-left
                %h4
                  %span
                    - if(@doc['author'] != nil)
                      = @doc['author'][0]   
          
    .col-md-6.column
      %h4
        = link_to @title.html_safe , 
        {:controller => :books, :action => :show, :id => @vol[:job_id]}
      %p.small
        - if(@doc['author'] != nil)
          = render :partial => "books/bookauthors"
        - if(@doc['subject'] != nil)
          = render :partial => "books/booksubjects"
        - if(@doc['name'] != nil)
          - @names = fillResponseArrays(@doc, @highlight, 'name', @id)
          = render :partial => "books/booknames"
    .col-xs-4.column.controls
      =render :partial => "books/sidelinks"