- if visited_volume?(@user_history, @vol)
  .visitedthumb
    = link_to image_tag("/#{@thumb}", :width => 109, :border => 0) + "Watched" , 
    {:controller => :books, :action => :show, :id => @vol[:job_id]}
   
- else
  .thumb
    = link_to image_tag("/#{@thumb}", :width => 109, :border => 0) , 
    {:controller => :books, :action => :show, :id => @vol[:job_id]}

.newscontent
  .sidelinks
    = link_to image_tag("/images_#{I18n.locale}/read.png", :alt => "read", :title => "read") , 
    {:controller => :books, :action => :show, :id => @vol[:job_id], :tab => :read}
    = link_to image_tag("/images_#{I18n.locale}/learn.png", :alt => "details", :title => "details") , 
    {:controller => :books, :action => :show, :id => @vol[:job_id]}
  %h4
    - # TODO: Add highlights
    = link_to @title.html_safe , 
    {:controller => :books, :action => :show, :id => @vol[:job_id]}
  .description
    - if(@doc['author'] != nil)
      = render :partial => "books/bookauthors"
    - if(@doc['published_at'] != nil)
      %br
      = render :partial => "books/bookpublishedat"
    - if(@doc['name'] != nil)
      %br
      = render :partial => "books/booknames"
.clear