.col-md-8.column.browse
  .row.clearfix
    .col-xs-2.column  
      - if visited_volume?(@user_history, @vol)
        = link_to image_tag("/#{@thumb}", :width => 109, :border => 0, :class => "img-thumbnail visited"), 
          {:controller => :books, :action => :show, :id => @vol[:job_id]}
      - else
        = link_to :controller => :books, :action => :show, :id => @vol[:job_id] do
          %img.img-thumbnail{:src => "/#{@thumb}"}
          
    .col-md-6.column
      %h4
        = link_to @title.html_safe , 
        {:controller => :books, :action => :show, :id => @vol[:job_id]}
      %p.small
        - if(@doc['author'] != nil)
          = render :partial => "books/bookauthors"
        - if(@doc['subject'] != nil)
          = render :partial => "books/booksubjects"
        - if(@doc['name'] != nil)
          - @names = fillResponseArrays(@doc, @highlight, 'name', @id)
          = render :partial => "books/booknames"
    .col-xs-4.column.controls
      =render :partial => "books/sidelinks"
  %hr.clearfix.col-lg-12