- displayFrontDots = false
- displayBackDots = false

- if(@pages.length > 0)
  - displayFrontDots = (@pages[0] != 2) ? true : false 
  - displayBackDots = (@pages[@pages.length - 1] != @lastPage - 1) ? true : false
%ul.pagination
  - if(@page > 1)
    %li
      - tmpparams = generateHRef(@page - 1, @url_params)
      = link_to "&laquo;".html_safe  , {:params => tmpparams}
  - else
    %li.disabled
      %a{:href => "#"}
        &laquo;
    
  %li
    - if(@page > 1)
      - tmpparams = generateHRef(1, @url_params)
      = link_to "1" , {:params => tmpparams}
    - else
      %span.active 1 
  - if(displayFrontDots)
    %li
      %span ......
  - @pages.each do |tmp|
    %li
      - if(tmp != @page)
        - tmpparams = generateHRef(tmp, @url_params)
        = link_to "#{tmp}" , {:params => tmpparams}
      - else
        %span.active
          = @page
  - if(displayBackDots)
    %li
      %span ......
  %li
    - if(@page != @lastPage)
      - tmpparams = generateHRef(@lastPage, @url_params)
      = link_to "#{@lastPage}" , {:params => tmpparams}
    - else
      %span.active
        = @lastPage
  - if(@page < @lastPage)
    %li
      - tmpparams = generateHRef(@page + 1, @url_params)
      = link_to "&raquo;".html_safe , {:params => tmpparams}
  - else
    %li.disabled
      %a{:href => "#"}
        &raquo;
