= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'

:javascript
  $(document).ready(function(){
    $('.tooltiplogin').tooltipster({ interactive: true, fixedWidth: 280});
    updatedetailedrate();
    $(".averagerate").jRating({
      isDisabled : true,
      bigStarsPath: "/images_#{I18n.locale}/#{I18n.t(:stars_white)}"
    });
  });
  function updateStaticStars(){
    var xmlhttp;
    if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
      }
    else
      {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
    xmlhttp.onreadystatechange=function()
      {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
        document.getElementById("rate").innerHTML=xmlhttp.responseText;
        }
      }
    xmlhttp.open("GET","/get_volume_rate",true);
    xmlhttp.send();
  }
  function updatedetailedrate(){
    var xmlhttp;
    if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
      }
    else
      {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
    xmlhttp.onreadystatechange=function()
      {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
        document.getElementById("detailedrate").innerHTML=xmlhttp.responseText;
        }
      }
    xmlhttp.open("GET","/get_detailed_rate?jobid=#{params[:id]}",true);
    xmlhttp.send();
  }
  function loadformats(format){
    div_name = "#" + format.toLowerCase() + "_hidden";
    content = $(div_name).html();
    content = content.replace(/\n/g, '<br />'); // to convert \n to <br />
    if (format.toLowerCase() == "mods")
      content = content.replace(/\s/g, " &nbsp;");  // to display xml indentation
    $("#modallabel").html(format);
    $("#modalcontent").html(content);
  }
  
.col-md-4.pull-right.sidebar-offcanvas
  .spacing-left.list-group
    .list-group-item.default
      =I18n.t(:book_details_tools)
    .list-group-item
      %ul.fa-ul.tools
        %li
          %i.fa.fa-li.fa-book
          %small
            =link_to I18n.t(:book_details_read), "/books/#{params[:id]}/read"
        %li
          %i.fa.fa-li.fa-info
          %small
            =link_to I18n.t(:book_details_details), "/books/#{params[:id]}"
        - if logged_in?
          %li
            %i.fa.fa-li.fa-plus-square
            %small
              - @number = "1"  
              %a{:href => "#", :id => "opener_#{@number}"}
                =I18n.t(:books_details_add_collection)
              - @addbookvol = params[:id]  
              =render :partial => "books/add_book"
    .list-group-item
      - rate = @volume.rate
      - if @volume.rate.nil?
        - rate = 0.0
      .averagerate.rate{:style => "float: right", :data => "#{rate}"}
      %span.text-muted
        =I18n.t(:book_details_average_rate)
      #detailedrate
      
      
      .ratenotcolored{:style => "height: 23px;float: right;"}
        = render :partial => "books/rating"
      %span.text-muted
        - if logged_in?
          =I18n.t(:book_details_user_rate)
      
        %br
    .list-group-item
      %span.badge.badge-success 
        ="#{@collections_count}"
      %a{:href => "#collectionsfound"}
        =I18n.t(:book_details_collection_count, :count => @collections_count)
    %a.list-group-item{"data-toggle" => "modal", href: "#modal-container", role: "button",  :onclick => "loadformats('#{I18n.t(:book_details_mods)}');"}
      %i.fa.fa-angle-double-right
      = I18n.t(:book_details_mods)
    %a.list-group-item{"data-toggle" => "modal", href: "#modal-container", role: "button",  :onclick => "loadformats('#{I18n.t(:book_details_bibtex)}');"}
      %i.fa.fa-angle-double-right
      = I18n.t(:book_details_bibtex)
    %a.list-group-item{"data-toggle" => "modal", href: "#modal-container", role: "button",  :onclick => "loadformats('#{I18n.t(:book_details_endnote)}');"}
      %i.fa.fa-angle-double-right
      = I18n.t(:book_details_endnote)
  
  #mods_hidden{ style: 'display: none;' }= get_format(params[:id], 'mods')
  #bibtex_hidden{ style: 'display: none;' }= get_format(params[:id], 'bibtex')
  #endnote_hidden{ style: 'display: none;' }= get_format(params[:id], 'endnote')
  #modal-container.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} 
            ×
          %h4#modallabel.modal-title
        #modalcontent.modal-body