- if @current == 'read'
  = render :partial => "books/read"
- else
  = render :partial => "books/tabs"
  %br
  - if @current == 'brief'
    = render :partial => "books/brief"
  - if @current == 'collections'
    = render :partial => "books/collections"
  - else
    = render :partial => "books/format"