:javascript
  $(document).ready(function() {
    var cache;
    cache = {};
    return $("#browsesearchfield").autocomplete({
      minLength: 2,
      source: function(request, response) {
        var term;
        term = request.term;
        if (term in cache) {
          response(cache[term]);
          return;
        }
        searchfield = $("#browsesearchfield").val();
        type = "#{params[:type]}"
        return $.getJSON("/browseautocomplete?type=" + type, request, function(data, status, xhr) {
          cache[term] = data;
          return response(data);
        });
      }
    });
  });
  function searchbrowse(field){
    if(field == null || field == '')
      return;
    window.location = window.location.href.split('?')[0] + "?search=" + field;
  }
.form-inline  
  
  %input.form-control{:id => "browsesearchfield",:type => "text", :style=> "width:400px; margin-top:-5px;", 
  :onkeypress => "if(event.keyCode == 13){searchbrowse(document.getElementById('browsesearchfield').value);return false;}"}
  
  %a.go{:href=> "#", :onclick=>"searchbrowse(document.getElementById('browsesearchfield').value);"}
    %i.fa.fa-arrow-circle-right.fa-2x     
.clearfix
.alphabet  
  %ul.list-inline
    %li
      - if @char == ''
        %b
          = I18n.t(:browse_all)
      - else
        = link_to "all" do
          = I18n.t(:browse_all)
    - @alphas.each do |alpha|
      %li 
        - if @char.downcase == alpha.downcase
          %b
            = alpha
        - else
          = link_to "#{alpha.downcase}" do
            = alpha