= "#{@location_name} (#{@books_count})"
%ol{:style=>"text-align:left;"}
  - @books.each do |key, value|
    %li
      =link_to value, "/books/#{key}"
- if @books_count > 10
  = link_to I18n.t(:geo_show_all_titles), books_path(:params => addFacetSearch({}, 'geo_location', @location_name))
