.row.clearfix
  .col-md-12.column
    %h2
      = @page_title
    %hr
    .well.text-center
      = render :partial => "activities/filter"
    .panel.panel-default.activity-listing
      - count = 0
      - @activities.each do |item|
        - if !item.nil?
          .panel-body
            - @user = User.find(item[:user])
            - if(@user.photo_name.blank?)
              - @thumb = "/images_#{I18n.locale}/#{I18n.t(:default_user)}"
            - else
              - @thumb = @user.photo_name_url(:thumb)
            .media
              %a.pull-left{:href=> "/users/#{@user.id}/profile"}
                = image_tag("#{@thumb}", :class => "media-object img-circle")
              .media-body.activity-log
                %p{:style => "line-height:120%;font-size:12px;"}
                  %strong
                    %a.book_author{:href=> "/users/#{@user.id}/profile"} 
                      = @user.real_name.html_safe
                  = item[:action].html_safe
                  %a.book_title{:href=> item[:object_link]} 
                    = item[:object_name].html_safe
                  = item[:text].html_safe
                  %br
                  %small.text-muted
                    = "#{I18n.t(:log_activity_at)} #{item[:time]}"
          - count += 1
          - if count < @activities.count
            %hr
      - if(!((@page == @lastPage && @lastPage == 1) || @lastPage == 0))
        .col-md-8
          .pagination-centered
            - @pages = adjustPaging(@page, @lastPage)
            = render :partial => "books/paging"    