%html{ "xml:lang" => I18n.locale, :lang => I18n.locale}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      - # Accessibility tip: Page titles should be unique and meaningful to the page and include the site name.
      - # Home page title can just be the site name.
      - page_title =  I18n.t(:bhl_page_title)
      - if @page_title
        - page_title =   I18n.t(:bhl_short_title) + " - #{@page_title}"
      &= strip_tags(page_title)
    
    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    
    = stylesheet_link_tag 'main'
    = javascript_include_tag "application"
    = javascript_include_tag controller_path, :media => "all"
  %body
    .header
      %a{ :href => "/" } 
        =image_tag("/images_#{I18n.locale}/logo.png", :alt => I18n.t(:bhl_site_name), :title => I18n.t(:bhl_site_name), :class => "logo")
      = #TODO: Check for login and replace with Welcome #{user}
      .username Welcome Guest
      %br
      .topmenu
        %a{ :href => "#" }
          = I18n.t(:my_account_link)
        = link_to I18n.t(:contact_us_link), {:controller => :pages, :action => :contact}
        = link_to I18n.t(:about_us_link), {:controller => :pages, :action => :about}
    .menu2
      .content
        %a{ :href => "#" }
          = link_to I18n.t(:browse_all_link), {:controller => :books, :action => :index}
        |
        %a{ :href => "#" }
          = link_to I18n.t(:authors_link), {:controller => :browse, :action => :show, :type => 'authors', :char => 'all'}
        |
        %a{ :href => "#" }
          = link_to I18n.t(:subjects_link), {:controller => :browse, :action => :show, :type => 'subjects', :char => 'all'}
        |
        = link_to I18n.t(:names_link), {:controller => :names, :action => :index}
        |
        = link_to I18n.t(:geographics_link), {:controller => :geographics, :action => :index, :range => ""}
